.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
behavioral/.DS_Store
fMRI/.DS_Store
fMRI/timing/.DS_Store
fMRI/timing/catch_timing_subj1.txt
fMRI/timing/catch_timing_subj2.txt
fMRI/timing/catch_timing_subj3.txt
fMRI/timing/catch_timing_subj6.txt
fMRI/timing/catch_timing_subj8.txt
fMRI/timing/silence_timing_subj1.txt
fMRI/timing/silence_timing_subj2.txt
fMRI/timing/silence_timing_subj3.txt
fMRI/timing/silence_timing_subj6.txt
fMRI/timing/silence_timing_subj8.txt
fMRI/timing/sinestep1_timing_subj1.txt
fMRI/timing/sinestep1_timing_subj2.txt
fMRI/timing/sinestep1_timing_subj3.txt
fMRI/timing/sinestep1_timing_subj6.txt
fMRI/timing/sinestep1_timing_subj8.txt
fMRI/timing/sinestep3_timing_subj1.txt
fMRI/timing/sinestep3_timing_subj2.txt
fMRI/timing/sinestep3_timing_subj3.txt
fMRI/timing/sinestep3_timing_subj6.txt
fMRI/timing/sinestep3_timing_subj8.txt
fMRI/timing/sinestep5_timing_subj1.txt
fMRI/timing/sinestep5_timing_subj2.txt
fMRI/timing/sinestep5_timing_subj3.txt
fMRI/timing/sinestep5_timing_subj6.txt
fMRI/timing/sinestep5_timing_subj8.txt
fMRI/timing/sinestep7_timing_subj1.txt
fMRI/timing/sinestep7_timing_subj2.txt
fMRI/timing/sinestep7_timing_subj3.txt
fMRI/timing/sinestep7_timing_subj6.txt
fMRI/timing/sinestep7_timing_subj8.txt
fMRI/timing/vowelstep1_timing_subj1.txt
fMRI/timing/vowelstep1_timing_subj2.txt
fMRI/timing/vowelstep1_timing_subj3.txt
fMRI/timing/vowelstep1_timing_subj6.txt
fMRI/timing/vowelstep1_timing_subj8.txt
fMRI/timing/vowelstep3_timing_subj1.txt
fMRI/timing/vowelstep3_timing_subj2.txt
fMRI/timing/vowelstep3_timing_subj3.txt
fMRI/timing/vowelstep3_timing_subj6.txt
fMRI/timing/vowelstep3_timing_subj8.txt
fMRI/timing/vowelstep5_timing_subj1.txt
fMRI/timing/vowelstep5_timing_subj2.txt
fMRI/timing/vowelstep5_timing_subj3.txt
fMRI/timing/vowelstep5_timing_subj6.txt
fMRI/timing/vowelstep5_timing_subj8.txt
fMRI/timing/vowelstep7_timing_subj1.txt
fMRI/timing/vowelstep7_timing_subj2.txt
fMRI/timing/vowelstep7_timing_subj3.txt
fMRI/timing/vowelstep7_timing_subj6.txt
fMRI/timing/vowelstep7_timing_subj8.txt
fMRI/block_separator.R
