.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
behavioral/.DS_Store
fMRI/.DS_Store
fMRI/timing/.DS_Store
fMRI/timing/catch_timing_subj1.txt
fMRI/timing/catch_timing_subj2.txt
fMRI/timing/catch_timing_subj3.txt
fMRI/timing/catch_timing_subj6.txt
fMRI/timing/catch_timing_subj8.txt
fMRI/timing/silence_timing_subj1.txt
fMRI/timing/silence_timing_subj2.txt
fMRI/timing/silence_timing_subj3.txt
fMRI/timing/silence_timing_subj6.txt
fMRI/timing/silence_timing_subj8.txt
fMRI/timing/sinestep1_timing_subj1.txt
fMRI/timing/sinestep1_timing_subj2.txt
fMRI/timing/sinestep1_timing_subj3.txt
fMRI/timing/sinestep1_timing_subj6.txt
fMRI/timing/sinestep1_timing_subj8.txt
fMRI/timing/sinestep3_timing_subj1.txt
fMRI/timing/sinestep3_timing_subj2.txt
fMRI/timing/sinestep3_timing_subj3.txt
fMRI/timing/sinestep3_timing_subj6.txt
fMRI/timing/sinestep3_timing_subj8.txt
fMRI/timing/sinestep5_timing_subj1.txt
fMRI/timing/sinestep5_timing_subj2.txt
fMRI/timing/sinestep5_timing_subj3.txt
fMRI/timing/sinestep5_timing_subj6.txt
fMRI/timing/sinestep5_timing_subj8.txt
fMRI/timing/sinestep7_timing_subj1.txt
fMRI/timing/sinestep7_timing_subj2.txt
fMRI/timing/sinestep7_timing_subj3.txt
fMRI/timing/sinestep7_timing_subj6.txt
fMRI/timing/sinestep7_timing_subj8.txt
fMRI/timing/vowelstep1_timing_subj1.txt
fMRI/timing/vowelstep1_timing_subj2.txt
fMRI/timing/vowelstep1_timing_subj3.txt
fMRI/timing/vowelstep1_timing_subj6.txt
fMRI/timing/vowelstep1_timing_subj8.txt
fMRI/timing/vowelstep3_timing_subj1.txt
fMRI/timing/vowelstep3_timing_subj2.txt
fMRI/timing/vowelstep3_timing_subj3.txt
fMRI/timing/vowelstep3_timing_subj6.txt
fMRI/timing/vowelstep3_timing_subj8.txt
fMRI/timing/vowelstep5_timing_subj1.txt
fMRI/timing/vowelstep5_timing_subj2.txt
fMRI/timing/vowelstep5_timing_subj3.txt
fMRI/timing/vowelstep5_timing_subj6.txt
fMRI/timing/vowelstep5_timing_subj8.txt
fMRI/timing/vowelstep7_timing_subj1.txt
fMRI/timing/vowelstep7_timing_subj2.txt
fMRI/timing/vowelstep7_timing_subj3.txt
fMRI/timing/vowelstep7_timing_subj6.txt
fMRI/timing/vowelstep7_timing_subj8.txt
fMRI/block_separator.R
fMRI/timing/timing_files/catch_timing_subj1.txt
fMRI/timing/timing_files/catch_timing_subj2.txt
fMRI/timing/timing_files/catch_timing_subj3.txt
fMRI/timing/timing_files/catch_timing_subj6.txt
fMRI/timing/timing_files/catch_timing_subj8.txt
fMRI/timing/timing_files/silence_timing_subj1.txt
fMRI/timing/timing_files/silence_timing_subj2.txt
fMRI/timing/timing_files/silence_timing_subj3.txt
fMRI/timing/timing_files/silence_timing_subj6.txt
fMRI/timing/timing_files/silence_timing_subj8.txt
fMRI/timing/timing_files/sinestep1_timing_subj1.txt
fMRI/timing/timing_files/sinestep1_timing_subj2.txt
fMRI/timing/timing_files/sinestep1_timing_subj3.txt
fMRI/timing/timing_files/sinestep1_timing_subj6.txt
fMRI/timing/timing_files/sinestep1_timing_subj8.txt
fMRI/timing/timing_files/sinestep3_timing_subj1.txt
fMRI/timing/timing_files/sinestep3_timing_subj2.txt
fMRI/timing/timing_files/sinestep3_timing_subj3.txt
fMRI/timing/timing_files/sinestep3_timing_subj6.txt
fMRI/timing/timing_files/sinestep3_timing_subj8.txt
fMRI/timing/timing_files/sinestep5_timing_subj1.txt
fMRI/timing/timing_files/sinestep5_timing_subj2.txt
fMRI/timing/timing_files/sinestep5_timing_subj3.txt
fMRI/timing/timing_files/sinestep5_timing_subj6.txt
fMRI/timing/timing_files/sinestep5_timing_subj8.txt
fMRI/timing/timing_files/sinestep7_timing_subj1.txt
fMRI/timing/timing_files/sinestep7_timing_subj2.txt
fMRI/timing/timing_files/sinestep7_timing_subj3.txt
fMRI/timing/timing_files/sinestep7_timing_subj6.txt
fMRI/timing/timing_files/sinestep7_timing_subj8.txt
fMRI/timing/timing_files/vowelstep1_timing_subj1.txt
fMRI/timing/timing_files/vowelstep1_timing_subj2.txt
fMRI/timing/timing_files/vowelstep1_timing_subj3.txt
fMRI/timing/timing_files/vowelstep1_timing_subj6.txt
fMRI/timing/timing_files/vowelstep1_timing_subj8.txt
fMRI/timing/timing_files/vowelstep3_timing_subj1.txt
fMRI/timing/timing_files/vowelstep3_timing_subj2.txt
fMRI/timing/timing_files/vowelstep3_timing_subj3.txt
fMRI/timing/timing_files/vowelstep3_timing_subj6.txt
fMRI/timing/timing_files/vowelstep3_timing_subj8.txt
fMRI/timing/timing_files/vowelstep5_timing_subj1.txt
fMRI/timing/timing_files/vowelstep5_timing_subj2.txt
fMRI/timing/timing_files/vowelstep5_timing_subj3.txt
fMRI/timing/timing_files/vowelstep5_timing_subj6.txt
fMRI/timing/timing_files/vowelstep5_timing_subj8.txt
fMRI/timing/timing_files/vowelstep7_timing_subj1.txt
fMRI/timing/timing_files/vowelstep7_timing_subj2.txt
fMRI/timing/timing_files/vowelstep7_timing_subj3.txt
fMRI/timing/timing_files/vowelstep7_timing_subj6.txt
fMRI/timing/timing_files/vowelstep7_timing_subj8.txt
*.BRIK
*.HEAD
*.1D
scripts/proc.cth9
scripts/proc.cth8
scripts/proc.cth6
scripts/proc.cth3
scripts/proc.cth2
scripts/proc.cth1
scripts/output.proc.cth9
scripts/output.proc.cth8
scripts/output.proc.cth6
scripts/output.proc.cth3
scripts/output.proc.cth2
scripts/output.proc.cth1
fMRI/subject-1.csv
fMRI/subject-10.5.csv
fMRI/subject-10.csv
fMRI/subject-10.v2.csv
fMRI/subject-11.csv
fMRI/subject-2.csv
fMRI/subject-3.csv
fMRI/subject-6.csv
fMRI/subject-8.csv
fMRI/subject-9.csv
fMRI/timing/vowelstep7_timing_subj9.txt
fMRI/timing/vowelstep7_timing_subj11.txt
fMRI/timing/vowelstep7_timing_subj10.txt
fMRI/timing/vowelstep5_timing_subj9.txt
fMRI/timing/vowelstep5_timing_subj11.txt
fMRI/timing/vowelstep5_timing_subj10.txt
fMRI/timing/vowelstep3_timing_subj9.txt
fMRI/timing/vowelstep3_timing_subj11.txt
fMRI/timing/vowelstep3_timing_subj10.txt
fMRI/timing/vowelstep1_timing_subj9.txt
fMRI/timing/vowelstep1_timing_subj11.txt
fMRI/timing/vowelstep1_timing_subj10.txt
fMRI/timing/subject-8.csv
fMRI/timing/subject-6.csv
fMRI/timing/subject-3.csv
fMRI/timing/subject-2.csv
fMRI/timing/subject-1.csv
fMRI/timing/sinestep7_timing_subj9.txt
fMRI/timing/sinestep7_timing_subj11.txt
fMRI/timing/sinestep7_timing_subj10.txt
fMRI/timing/sinestep5_timing_subj9.txt
fMRI/timing/sinestep5_timing_subj11.txt
fMRI/timing/sinestep5_timing_subj10.txt
fMRI/timing/sinestep3_timing_subj9.txt
fMRI/timing/sinestep3_timing_subj11.txt
fMRI/timing/sinestep3_timing_subj10.txt
fMRI/timing/sinestep1_timing_subj9.txt
fMRI/timing/sinestep1_timing_subj11.txt
fMRI/timing/sinestep1_timing_subj10.txt
fMRI/timing/silence_timing_subj9.txt
fMRI/timing/silence_timing_subj11.txt
fMRI/timing/silence_timing_subj10.txt
fMRI/timing/catch_timing_subj9.txt
fMRI/timing/catch_timing_subj11.txt
fMRI/timing/catch_timing_subj10.txt
fMRI/timing/subject-8.csv
fMRI/timing/subject-6.csv
fMRI/timing/subject-3.csv
fMRI/timing/subject-2.csv
fMRI/timing/subject-1.csv
scripts/cth10.preproc/stimuli/sinestep7_timing_subj10.txt
scripts/cth10.preproc/stimuli/vowelstep1_timing_subj10.txt
scripts/cth10.preproc/stimuli/vowelstep3_timing_subj10.txt
scripts/cth10.preproc/stimuli/vowelstep5_timing_subj10.txt
scripts/cth10.preproc/stimuli/vowelstep7_timing_subj10.txt
scripts/cth10.preproc/X.jpg
scripts/cth11.preproc/3dClustSim.ACF.cmd
scripts/cth11.preproc/@epi_review.11
scripts/cth11.preproc/@ss_review_basic
scripts/cth11.preproc/@ss_review_driver
scripts/cth11.preproc/@ss_review_driver_commands
scripts/cth11.preproc/cth11_MP_DO_al_junk+orig.BRIK.gz
scripts/cth11.preproc/cth11_MP_DO_ns+orig.BRIK.gz
scripts/cth11.preproc/cth11_MP_DO_ns_WarpDrive.log
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.mask
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN1_1sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN1_2sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN1_bisided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN2_1sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN2_2sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN2_bisided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN3_1sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN3_2sided.niml
scripts/cth11.preproc/files_ClustSim/ClustSim.ACF.NN3_bisided.niml
scripts/cth11.preproc/full_mask.11+tlrc.BRIK.gz
scripts/cth11.preproc/mask_anat.11+tlrc.BRIK.gz
scripts/cth11.preproc/mask_epi_anat.11+tlrc.BRIK.gz
scripts/cth11.preproc/mask_epi_extents+tlrc.BRIK.gz
scripts/cth11.preproc/mask_group+tlrc.BRIK.gz
scripts/cth11.preproc/motion_11_CENSORTR.txt
scripts/cth11.preproc/out.allcostX.txt
scripts/cth11.preproc/out.cormat_warn.txt
scripts/cth11.preproc/out.mask_ae_dice.txt
scripts/cth11.preproc/out.mask_ae_overlap.txt
scripts/cth11.preproc/out.pre_ss_warn.txt
scripts/cth11.preproc/out.ss_review.11.txt
scripts/cth11.preproc/stats.REML_cmd
scripts/cth11.preproc/stimuli/catch_timing_subj11.txt
scripts/cth11.preproc/stimuli/sinestep1_timing_subj11.txt
scripts/cth11.preproc/stimuli/sinestep3_timing_subj11.txt
scripts/cth11.preproc/stimuli/sinestep5_timing_subj11.txt
scripts/cth11.preproc/stimuli/sinestep7_timing_subj11.txt
scripts/cth11.preproc/stimuli/vowelstep1_timing_subj11.txt
scripts/cth11.preproc/stimuli/vowelstep3_timing_subj11.txt
scripts/cth11.preproc/stimuli/vowelstep5_timing_subj11.txt
scripts/cth11.preproc/stimuli/vowelstep7_timing_subj11.txt
scripts/cth11.preproc/X.jpg
scripts/cthulhu_anova.sh
scripts/cthulhu_pre_preprocessing.sh
scripts/cthulhu_preprocessing.sh
scripts/output.proc.cth10
scripts/output.proc.cth11
scripts/proc.cth10
scripts/proc.cth11
scripts/cth10.preproc/3dClustSim.ACF.cmd
scripts/cth10.preproc/@epi_review.10
scripts/cth10.preproc/@ss_review_basic
scripts/cth10.preproc/@ss_review_driver
scripts/cth10.preproc/@ss_review_driver_commands
scripts/cth10.preproc/cth10_MP_DO_al_junk+orig.BRIK.gz
scripts/cth10.preproc/cth10_MP_DO_ns+orig.BRIK.gz
scripts/cth10.preproc/cth10_MP_DO_ns_WarpDrive.log
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.mask
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN1_1sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN1_2sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN1_bisided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN2_1sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN2_2sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN2_bisided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN3_1sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN3_2sided.niml
scripts/cth10.preproc/files_ClustSim/ClustSim.ACF.NN3_bisided.niml
scripts/cth10.preproc/full_mask.10+tlrc.BRIK.gz
scripts/cth10.preproc/mask_anat.10+tlrc.BRIK.gz
scripts/cth10.preproc/mask_epi_anat.10+tlrc.BRIK.gz
scripts/cth10.preproc/mask_epi_extents+tlrc.BRIK.gz
scripts/cth10.preproc/mask_group+tlrc.BRIK.gz
scripts/cth10.preproc/motion_10_CENSORTR.txt
scripts/cth10.preproc/out.allcostX.txt
scripts/cth10.preproc/out.cormat_warn.txt
scripts/cth10.preproc/out.mask_ae_dice.txt
scripts/cth10.preproc/out.mask_ae_overlap.txt
scripts/cth10.preproc/out.pre_ss_warn.txt
scripts/cth10.preproc/out.ss_review.10.txt
scripts/cth10.preproc/stats.REML_cmd
scripts/cth10.preproc/stimuli/catch_timing_subj10.txt
scripts/cth10.preproc/stimuli/sinestep1_timing_subj10.txt
scripts/cth10.preproc/stimuli/sinestep3_timing_subj10.txt
scripts/cth10.preproc/stimuli/sinestep5_timing_subj10.txt
